product-photos/process/acquirePhoto.yml
# State Machine (AWS StepFunction for Acquiring an Image from a registered Photographer)
Comment: Aquire a photograph of the given product from one of the registered photographers
StartAt: WaitForPhoto
States:
  WaitForPhoto:
    Type: Parallel
    Branches:
      - StartAt: AssignPhotographer
        States:
          AssignPhotographer:
            Type: Task
            Resource: arn:aws:lambda:ap-northeast-2:${env:ACCOUNT_ID}:function:hello-retail-product-photos-assign-dev-assign
            Retry:
              - ErrorEquals:
                  - States.ALL
                IntervalSeconds: 1
                MaxAttempts: 2
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: AssignPhotographerError
            Next: AssignPhotographerSuccess
          AssignPhotographerError:
            Type: Fail
            Cause: Repeated Failure Assigning Photographer
            Error: RepeatedFailure
          AssignPhotographerSuccess:
            Type: Succeed
      - StartAt: AwaitPhoto
        States:
          AwaitPhoto:
            Type: Task
            Resource: arn:aws:states:ap-northeast-2:${env:ACCOUNT_ID}:activity:dev-hello-retail-product-photos-receive
            TimeoutSeconds: 600
            Catch:
              - ErrorEquals:
                  - States.Timeout
                ResultPath: $.error
                Next: AwaitPhotoFail
            Next: AwaitPhotoSucceed
          AwaitPhotoFail:
            Type: Task
            Resource: arn:aws:lambda:ap-northeast-2:${env:ACCOUNT_ID}:function:hello-retail-product-photos-fail-dev-fail
            Retry:
              - ErrorEquals:
                  - States.ALL
                IntervalSeconds: 1
                MaxAttempts: 2
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: AwaitPhotoFailError
            End: true
          AwaitPhotoFailError:
            Type: Fail
            Cause: Repeated Failure Failing Photographer Assignment
            Error: RepeatedFailure
          AwaitPhotoSucceed:
            Type: Task
            Resource: arn:aws:lambda:ap-northeast-2:${env:ACCOUNT_ID}:function:hello-retail-product-photos-success-dev-success
            Retry:
              - ErrorEquals:
                  - States.ALL
                IntervalSeconds: 1
                MaxAttempts: 2
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: AwaitPhotoSucceedError
            Next: AwaitPhotoSuccess
          AwaitPhotoSucceedError:
            Type: Fail
            Cause: Repeated Failure Failing Photographer Assignment
            Error: RepeatedFailure
          AwaitPhotoSuccess:
            Type: Succeed
    Next: ExtractResult
  ExtractResult:
    InputPath: '$.[1]'
    Type: 'Pass'
    Next: CompleteAssignment
  CompleteAssignment:
    Type: Task
    Resource: arn:aws:lambda:ap-northeast-2:${env:ACCOUNT_ID}:function:hello-retail-product-photos-report-dev-report
    Retry:
      - ErrorEquals:
          - States.ALL
        IntervalSeconds: 1
        MaxAttempts: 2
        BackoffRate: 2
    Catch:
      - ErrorEquals:
          - States.ALL
        Next: CompleteAssignmentError
    Next: Finish
  CompleteAssignmentError:
    Type: Fail
    Cause: Repeated Failure Completing Successful Assignment
    Error: RepeatedFailure
  Finish:
    Type: Succeed
